body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}
input{
    width: 60%;
}

.hidden-div{
    display: none;
}

.container-fluid{
    margin-bottom: 20px;
    overflow: hidden;
}

#call-to-call, #footer{
    margin-bottom: 0px;
}

h2{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

span{
    color: red;
    font-weight: inherit;
}

/* Call to Call Section */

#call-to-call{
    
    background-color: darkblue;
    color: wheat;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    display:flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

.call-to-call-item{
    display: inline-flex;
}

.call-to-call-item img{
    height: 26px;
    width: auto;
    margin-right:2px;
    margin-left: 5px;
}
/* Nav Section */

#navContainer{
    padding: 0px;
}

.navbar-brand img{
    height: 50px;
    width: auto;
}


#collapsibleNavbar{
    width: auto;

}

#main-nav{
    justify-content: space-between;
}

#main-nav a{
    font-size: 20px;
    color: black;
    font-weight: 500;
    font-family: "Lato", sans-serif;

}

#main-nav a:hover{
    border-bottom: 1px solid black;
}

#main-nav a:active{
    color: blue;
}

/* Slide Show Section */

#slide-show{
    max-width: 1000px;
    margin: auto;
}

.carousel-inner img{
    margin: auto;
}

.carousel-caption img{
    height: 24px;
    width: auto;
}

#c-item2 .carousel-caption{
    color: black;
}

/* Information Section */




/* Contact */

#details-table{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

td:first-child{
    padding-right: 5px;
}

#indicates{
    font-weight: 600;
}

label{
    font-weight: 600;
}

.form-group input{
    font-size: inherit;
}

/* Accredited */
.accredited-img{
    margin: auto;
}

/* Installations */

.inst{
    margin: auto;
}

.inst h4{
    font-family: "Itim", cursive;
    font-weight: bold;
}

.inst-img{
    width: 100%;
    height: auto;
    margin: auto;
    
}

.inst ul{
    list-style-type: none;
    padding: 5px;
}


.inst-img-act{
    
    height: 150px;
    width: auto;
    margin: auto;
}

table{
    font-size: 16px;
}

/* Testimonies and Areas Section */
.tanda{
    padding: 0px;
    margin: auto;
}

#testimonials-inner{
    
    width: 100%;
    height: 220px;
    padding: 30px 20px;
    background-color: lightblue;
    margin-bottom: -5px;
}

#testimonials-inner h4{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}


.test-div{
    padding-top: 10px;
}

.test-text{
    font-size: 14px;
}

#areas-main{
    border-top: 1px solid grey;
}
#areas{
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-image: url("../resources/images/screen.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

}

#areas-text{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    padding-left: 15px;
    padding-top: 15px;

    font-family: "Lato", sans-serif;
    overflow: hidden;
}

#areas-text h4{
    font-weight: bold;
}


/* Useful Link Section */
#useful-links{
    margin-top: 30px;
}
.uselink .lead{
    font-size: 14px;
}

#useful-links h5,h2{
    font-family: "Lato", sans-serif;
    font-weight: 500; 
}

.uselink h5{
    text-decoration: underline;
}

.uselink img{
    height: 50px;
    width: auto;
}

/* New to DSTV */

#new-to-dstv a{
    font-weight: 600;
}
/* Footer Section */


#footer a:hover{
    font-weight: bold;
}

.footer-icon{
    display: inline-block;
    height: 32px;
}

.footer-icon img{
    height: 100%;
    width: auto;
}



/* Media Adjustments */
@media (max-width: 1200px){
    table{
        font-size: 14px;
    }
}


@media(max-width: 992){
    body{
        font-size: 14px;
    }
}


@media (max-width: 768px){

    /* Information Section */

    #main-content{
        padding: 15px;
    }

    table{
        font-size: 13px;
    }

    /* Installations Section */

    .inst-img-act{
        height: 120px;
        width: auto;
    }

}


@media (max-width: 576px) { 

    /* Call to Call Section */
    body{
        font-size: 12px;
    }

    /* Information Section */
    #main-content{
        border: none;
    }

    #call-to-call{
        font-size: 14px;
    }
    /* Main Image Section */

    .carousel-indicators{
        display: none;
    }

    .carousel-caption{
        display: none;
    }

    #random-dstv-pics{
        display: none;
    }

    /* Installations Section */

    .inst-img-act{
        height: 80px;
        width: auto;
    }
}

@media (min-width: 576px){

    .tanda{
        display: none;
    }
}